[Unit]
Description=DSpace post-start patch
After=docker.service network-online.target
Requires=docker.service

[Service]
Type=simple
ExecStart=INSTALL_DIR/dspace-patch.sh
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
